body{
  background-color:#a3bac9;
}
h1{
  text-align: center;
  font-size: 150;
}

button{
  border-style: dotted dashed solid double;
  padding: 30px;
  margin:20px;
  font-size: 35px;
}
#button div{
  text-align: center;
  
}
